/* ==========================================================================
   Service List */
/* ========================================================================== */

	.accordeon-item {
		overflow: hidden;
		border-bottom: solid 1px #dfe0dc;
	}

	.accordeon-header {
		color: #4d4d4d;
		padding: 15px 15px 15px 30px;
		margin: 0;
		font: normal 16px/22px Arial, sans-serif;
		cursor: pointer;
		background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAMAAAAolt3jAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABhQTFRFxsbGpqamlZWV3NzcmJiY9vb2////kpKSiA/lqQAAAEtJREFUeNpcj0kOwFAIQnGC+9+4/Zp0kBUvGBWQLJi7oW4LMlKtjIOhR0FUZ2TnBehFAfZFgx8/kvyPuYfXqnVovbGfnAo5FS4BBgDGdQRVorLAIgAAAABJRU5ErkJggg==') no-repeat 0 19px;

	}
	.accordeon-body.collapsed .accordeon-header {
		background: rgba(0, 0, 0, 0) url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAMAAAAolt3jAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABhQTFRFxsbGpqamlZWV3NzcmJiY9vb2////kpKSiA/lqQAAAEtJREFUeNpcj0kOwFAIQnGC+9+4/Zp0kBUvGBWQLJi7oW4LMlKtjIOhR0FUZ2TnBehFAfZFgx8/kvyPuYfXqnVovbGfnAo5FS4BBgDGdQRVorLAIgAAAABJRU5ErkJggg==") no-repeat scroll 0 19px !important;
	}
	.accordeon-header:hover {
		color: #1d85b3;
	}

	.expanded .accordeon-header {
		font-weight: bold;
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAMAAAAolt3jAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABhQTFRFxsbGpqamlZWV3NzcmJiY9vb2////kpKSiA/lqQAAAEpJREFUeNpcj1sOwEAIAlER7n/jPrZpt86XkxgFSGpEZqDPEVLRN6xLyy8lND9lA94AYtdA2nqw86+cy+PUeDRizJCrAleFQ4ABAMthBGGCydr8AAAAAElFTkSuQmCC');
	}
	.expanded .accordeon-header + .accordeon-body {
		display: block;
	}
	ul.accordeon-body,
	ul.non-accordeon-body  {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	ul.accordeon-body li,
	ul.non-accordeon-body li {
		background-image: none;
		padding: 0 0 0 0;
		position: relative;
		font-size: 14px;
		margin: 0;
	}
	ul.accordeon-body {
		display: none;
	}
	.content ul.non-accordeon-body {
		margin-top: 30px;
	}

	.service-letter {
		position: absolute;
		width: 40px;
		height: 20px;
		display: block;
		top: 8px;
		left: 0;
		font: bold 16px/20px Arial, sans-serif;
		color: #b8b8b8;
		text-align: center;
		vertical-align: middle;
	}
	ul.accordeon-body li a,
	ul.non-accordeon-body li a {
		padding: 10px 15px 10px 15px;
		display: block;
		text-decoration: none;
		color: #4d4d4d;
	}
	ul.accordeon-body li a:hover,
	ul.non-accordeon-body li a:hover {
		color: #1d85b3;
		background: #fafafa;
	}
	ul.accordeon-body li:nth-child(2n) a,
	ul.non-accordeon-body li:nth-child(2n) a {
		background: #f4f4f4;
	}
	ul.accordeon-body li:nth-child(2n) a:hover,
	ul.non-accordeon-body li:nth-child(2n) a:hover {
		background: #f0f0f0;
	}
	ul.accordeon-body li:before,
	ul.accordeon-body li:after,
	ul.non-accordeon-body li:before,
	ul.non-accordeon-body li:after { content: ""; display: table; }
	ul.accordeon-body li:after,
	ul.non-accordeon-body li:after { clear: both; }

	.accordeon-body .service-price,
	ul.non-accordeon-body .service-price {
		float: right;
	}
	
.content ul.accordeon-body li,
.content ul.non-accordeon-body li {
	padding:0;
	margin:0;
	background:none;
}