.typeahead-wrapper {
	display: none;
	position: absolute;
	top: 90%;
	left: -100px;
	right: auto;
	background: #fff;
	border: solid 1px #e3d3a4;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 300px;
	z-index: 100;
	overflow: hidden;
}
.typeahead-wrapper input[type="text"] {
	height: 30px;
	width: 740px !important;
	background: #fff;
	border: solid 1px #ccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 3px 55px 3px 10px;
	margin: 0 10px;
	font-size: 14px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: inset 1px 2px 4px rgba(0,0,0,.15);
	display: block;
}
.typeahead-wrapper form {
	height: 30px;
	width: 100%;
	padding: 10px 0;
	background: #f8e5ab;
	border: solid 1px #ccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
.typeahead-wrapper button,
.typeahead-wrapper .search-but {
	background: url('images/search_sprite.png') no-repeat 0 0;
	border: none;
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	text-indent: -9999px;
	cursor: pointer;
	top: 15px;
	right: 15px;

}
.typeahead-wrapper button:hover,
.typeahead-wrapper button:focus,
.typeahead-wrapper .search-but:hover,
.typeahead-wrapper .search-but:focus {
	background-position: 100% 0;
	outline: none;

}
.typeahead-wrapper .search-but-true {
	/*top: -50px;*/
	visibility: hidden;
}
.typeahead-wrapper .reset-but {
	/*right: 40px;*/
	background-position: 0 100%;
	display: none;
}
.typeahead-wrapper .reset-but:hover,
.typeahead-wrapper .reset-but:focus {
	background-position: 100% 100%;
}

.changeServiceList .services-content {
	background: #FFF;
	max-height: 425px;
	overflow-y: scroll;
}
.viz-service .typeahead-wrapper, .viz-service .typeahead-wrapper input[type="text"] {
	width: 800px;
}

.change-service {
	border-bottom: 1px solid #e8e8e8;
	box-sizing: border-box;
	color: #7f7f7f;
	display: block;
	height: 35px;
	line-height: 34px;
	margin: 0;
	width: 100%;
	padding: 0 1px 0 15px;
	position: relative;
	text-decoration: none;
}
.change-service .styler-steps .jq-selectbox__select {
	max-width: inherit;
	background: #FFFFFF;
}
.change-service .jq-selectbox {
	width: 85%;
}
.change-service .steps-breadcrumb-name {
	width: 12%;
	text-align: center;
}

.change-service .jq-selectbox__dropdown {
	margin: 0;
}